
body {
  background: #1a0026; 
  color: #fff8dc; 
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #3b0a45; 
  text-align: center;
  padding: 1em;
  border-bottom: 2px solid #ffd700; 
}

h1 {
  color: #ffd700; 
  font-size: 2.5em;
}

footer {
  border-top: 2px solid #ffd700;
  margin-top: 2em;
}

.card-container {
  display: flex;

}

.card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  margin: 50px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #ffd700; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.card-front {
  background-size: cover;
  background-position: center;
}

.card-back {
  background-color: #4b0055; 
  color: #fff8dc; 
  transform: rotateY(180deg);
  display: flex;

}

.card-back h2 {
  margin-bottom: 0.5em;
  color: #ffec8b; 
}
